body{
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 300px;
}



/*NavBar*/

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content:space-between ;
    padding: 10px;
    z-index: 1;
    transition-timing-function:ease-in;
    transition: all 0.5s;
    background-color: rgba(119, 136, 153, 0.314);
}


#button{
    color: #FFFFFF;
    font: 16px;
    background-color: #D5B91A;
    border-radius: 10px;
    margin: 24px 0px 12px;
    padding: 10px;
    width: 170px;
    height: 50px;
    text-align: center;
}

/*Banner*/

.banner{
    background-image: url('../images/Wearyourcrown.png') ;
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: cover;
    color: white;
    object-fit: contain;
    height: 600px;
    
}

.banner_title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

/*links*/

a:link{
    color: black;
}

a:visited {
    color: black;
}

#about{
    background-color: lightgrey;
}

/*products*/

#product{
    text-align: center;
}

#product .pro-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;

}

#product .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px  rgba(0, 0, 0, 0.3);
    margin: 15px 0;
    transition: 0.3s ease;
}

#product .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
}

#product .pro img{
    width: 100%;
    border-radius: 20px;
}

#product .pro .description{
    padding: 10px 0;
}

#product .pro .description h4{
    color: #088136;
}

#product .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #f4eab0;
    font-weight: 500;
    color: #088136;
}

