body{
    background-image: url('../images/loginbackground.jpg');
    background-repeat: repeat;
    background-position: center;
    background-size: contain  ;
}


#userLogin{
    width: 314px;
    height: 80px;
    padding: 16px 20px 0px;
    margin: 40px 540px 240px;
}

#loginForm{
    width: 450px;
    height: 660px;
    background-color:#00a189c6;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0px 0px 90px;
    padding: 60px 68px 40px;
}

.display-6{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 700;
    margin: 0px 0px 28px ;
    width: 314;
    height: 70px;
}

#signIn{
    color: #FFFFFF;
    font: 16px;
    background-color: #D5B91A;
    border-radius: 10px;
    margin: 24px 0px 12px;
    padding: 10px;
    width: 314px;
    height: 48px;
    text-align: center;
}